*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
glib-android*.pc
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

.*.sw?
.gdb_history
